$heading-color: #2f2f2f;

$text-color: #565656;

$primary-color: #2f2f2f;

$bg-default: #232323;

$bg-gray: #f8f5f5;

$bg-red: #ff0000;

$color-white: #ffffff;

$color-dark: #000;

$grid-color: #e0e3e4;

$grid5-color: #bababa;

$hover-color: #192a56;